Language: Cpp
BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 80
PointerAlignment: Right
AccessModifierOffset: -2
NamespaceIndentation: None
IndentCaseLabels: true
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
Cpp11BracedListStyle: true
AlignAfterOpenBracket: Align
AlignTrailingComments: false
SortIncludes: false
FixNamespaceComments: true
ReflowComments: true
DerivePointerAlignment: false
UseTab: Never
