# Build artifacts
build*/
*.db
*.log
.cache/
release/

# Editor/IDE files
.vscode/
.idea/
*.swp
*~

# OS files
.DS_Store
Thumbs.db
.stfolder/
.stversions/
.stignore

# Dependencies
lib/
include/spdlog/
include/nlohmann/

# Working Documentation
working_docs/
hamclock-original
open-hamclock-backend
.claude
AI_RULES.md
CLAUDE.md

# Docker
docker-build/
