# Build artifacts
build*/
*.db
*.log
.cache/
release/

# Editor/IDE files
.vscode/
.idea/
*.swp
*~

# OS files
.DS_Store
Thumbs.db
.stfolder/
.stversions/
.stignore

# Dependencies
lib/
include/spdlog/
include/nlohmann/

# Working Documentation
working_docs/
hamclock-original
open-hamclock-backend
.claude
AI_RULES.md
CLAUDE.md
GEMINI.md

# Docker
docker-build/

# Claude Code sandbox
.bash_profile
.bashrc
.gitconfig
.gitmodules
.idea
.mcp.json
.profile
.ripgreprc
.vscode
.zprofile
.zshrc
HEAD
config
hooks
objects
refs
